body#LoginForm{ 
  background-image:url("../images/fondo3.jpg"); 
  background-repeat:no-repeat; 
  background-position:center; 
  background-size:cover; 
  margin-top:8%;
}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.login-form  .btn.btn-success {
  background: #45c795 none repeat scroll 0 0;
  border-color: #4ef056;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.formulario{
  display: block;
  margin:0 auto;
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  padding: 50px 70px 70px 71px;
}
.nav-principal{
  text-decoration: none!important;
}
